@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    text-decoration: none;
    font-family: 'Open Sans';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}



header {
    width: 100%;
    position: fixed;
    background-color: rgba(39, 40, 44, 1);
    background-image: url(imgBlue/obxBz5.png);
    background-blend-mode: color-burn;
    background-repeat: repeat-x;
    margin-top: -60px;
}

main {
    margin-top: 60px;
    background-image: url(imgBlue/obxBz5.png);
    background-repeat: round;
    background-blend-mode: color-burn;
    background-color: rgba(39, 40, 44, 0.9);
}

footer {
    height: 150px;
    background-color: rgba(39, 40, 44, 1);
    background-image: url(imgBlue/obxBz5.png);
    background-blend-mode: color-burn;
    background-repeat: repeat-x;
    padding: 15px;
}

nav {
    display: inline-block;
    background-color: rgba();
    width: auto;
    height: auto;
    margin-right: 50px;
    padding: 20px 0px;
    letter-spacing: -4px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /* Новый размер 1200px*/
    margin: 0px auto;
}

main .container {
    flex-direction: column;
    background-color: rgba(, , , 0.4);
}


footer .container {
    flex-direction: column;
}

/* Анимация навигации */
@keyframes nav-appearance {
    0% {
        height: 0px;
        padding: 0px;
    }
    100% {
        height: 64px;
    }
}

@keyframes nav-disappearance {
    from {
        height: 64px;
    }

    to {
        height: 0px;
        padding: 0px;
    }
}

/* Шапка */
header .container {
    justify-content: space-between;
}

header a {
    padding: 0px 15px;
    color: white;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.25s;
}

.logo {
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url(img/92c00227122163.56360158a84db.jpg);
    background-image: url(imgredblack/C79674aVvj0.png);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    padding: 0px 32px;
}

.nav:hover a{
    color: rgb(180, 180, 180);
}

.nav:hover a:hover{
    /* background-color: ;
    padding: 25px 15px;
    padding-bottom: 24px; */
    color: rgb(255,255,255);
}

/* Описание проекта */
.Project {
    display: flex;
    height: 500px;
    width: 100%;
    padding: 20px 40px;
    padding-top: 30px;
}

.describe {
    display: flex;
    flex-direction: column;
}

.Project h1 {
    font-size: 50px; /* размер шрифта */
    padding-bottom: 10px;
    padding-top: 10px;
}

.Project p{
    font-size: 19px; /* размер шрифта */
    padding: 10px;
    padding-left: 0px;
    padding-right: 20px;
}

.img-project {
    height: 450px;
    width: 70%;
    background-image: url(img/62eb9e53570349.5938fb7fc3920.jpg);
    background-size: 145%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

/* Возможности */
.oport {
    position: absolute;
    margin-top: 450px;
}

.opportunities{
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.social-network-describe {
    display: flex;
    flex-direction: column;
}

.opportunities h2 {
    text-align: center;
    font-size: 30px; /* размер шрифта */
    padding-top: 20px;
    margin-bottom: 110px;
}

.opportunities p {
    display: flex;
    align-items: center;
    font-size: 18px; /* размер шрифта */
    text-align: center;
}

.op-el {
    display: flex;
    padding: 20px;
    height: 420px;
    width: 100%;
}

.opportunities .img {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    background-color: ;
}

/* Социальная сеть */
.social-network-img {
    height: 100%;
    width: 40%;
    background-image: url(imgredblack/network.png);
    background-size: 80%;
}

.social-network-describe {
    display: flex;
    flex-direction: column;
    width: 60%;
}


/* Тимбилдинг */
.team-describe {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.team-img {
    height: 100%;
    width: 40%;
    background-image: url(imgredblack/audience.png);
    background-size: 100%;
    background-position: center;
}

/* Планирование */
.plan-describe {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.plan h2 {
    margin-bottom: 90px;
}
.plan-img {
    height: 100%;
    width: 40%;
    background-image: url(imgredblack/schedule.png);
    background-size: 90%;
    background-position: center;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

/* АДАПТИВНОСТЬ */
.adaptiv-img {
    display: none;
    height: 100%;
    width: 100%;
}

.adaptiv-img-project {
    margin-top: 30px;
    padding: 0px;
    border-radius: 0px;
    background-image: url(img/62eb9e53570349.5938fb7fc3920.jpg);
    background-size: 150%;
    background-position: center;

}

.adaptiv-img-social-network {
    background-image: url(imgredblack/network.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    margin-top: -10px;
}

.adaptiv-img-team {
    background-image: url(imgredblack/audience.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.adaptiv-img-plan {
    background-image: url(imgredblack/schedule.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
}

@media (max-width: 810px) {

    .adaptiv-img {
        width: 100%;
    }

    .describe {
        width: 100%;
    }



    nav {
        display: flex;
        background-image: url(img/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(39, 40, 44, 0.6);
        background-size: 55%;
        margin-right: 0px;
        width: 80px;
        height: 64px;
        flex-direction: column;
        padding: 0px;
        transition: width 0.4s;
    }

    nav a {
        display: none;
        height: 0px;
        background-color: rgba(39, 40, 44, 0.9);
        transition: 0.2s;
        color: white;
    }

    .aPr {
        margin-top: 64px;
    }

    nav:hover a {
        display: flex;
        animation: nav-appearance 0.3s 1;
        font-size: 13px;
        padding: 25px 25px;
        height: 64px;
    }



    nav:hover {
        width: 100%;
        background-size: 15%;
    }

    .nav:hover a{
    color: rgb(255, 255, 255);
    }

    .nav:hover a:hover{
        /* background-color: ;
        padding: 25px 15px;
        padding-bottom: 24px; */
        color: rgb(255,255,255);
    }

}

@media (max-width: 1200px){

    nav {
        margin-right: 0px;
    }

    .logo {
        margin-left: 0px;
    }

    .Project {
        height: 100%;
    }

    .adaptiv-img {
        display: flex;
        height: 300px;
        width: 100%;
    }

    .op-el {
        flex-direction: column;
        align-items: center;
        height: 550px;
    }

    .team {
        height: 500px;
    }

    .op-el p {
        padding-top: 10px;
    }

    .describe h2 {
        margin-bottom: 40px;
    }

    .img {
        display: none;
    }


}
/* КОНЕЦ АДАПТИВНОСТИ */



/* Страница О НАС */
main .AboutUs-container {
}

.AboutUs-container h1 {
    text-align: center;
    margin-top: 50px;
}

.card{
    background-color: white;
    border-radius: 30px;
}

.card:hover {
    box-shadow: 10px 10px 30px rgba(222, 217, 255, 0.5);
}

.Max {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    padding: 0px 20px;
    margin-bottom: 100px;
    margin-top: 30px;
    padding-bottom: 0px;
}

.Alex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    padding: 0px 20px;
    margin-bottom: 100px;
}

.two-cards {
    display: flex;
    width: 100%;
    height: 700px;
    padding: 20px;
    padding-bottom: 0px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 600px;
    padding: 0px 20px;
}

.face {
    display: flex;
    height: 380px;
    margin-bottom: 20px;
    width: 100%;
}

.dossier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    padding: 25px 30px;
}

.about {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 65%;
}

.words {
    display: flex;
    flex-direction: column;
    height: ;
    width: 100%;
    padding: 30px;
}

.achieves {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    padding-left: 30px;
    margin-top: 10px;
}


/* Саша */
.Alex-achievies {
    height: 300px;
}

.achieves p {
    margin-bottom: 10px;
    font-size: 20px; /* размер шрифта */
}

.achieves ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    height: 100%;
}

.Alex-face {
    background-image: url(img/efZ1Ow_u8_E.jpg);
    background-size: 100%;
    background-position: 0% 5%;
    background-repeat: no-repeat;
}

.words p {
    font-size: 18px; /* размер шрифта */
}

.words h2 {
    margin-bottom: 10px;
}

/* Макс */

.Max-face {
    background-image: url(img/photo_2021-05-23_18-25-00.jpg);
    background-size: 180%;
    background-position: -150px 0px;
    background-repeat: no-repeat;
}

/* Адаптивность страница о нас */
@media(max-width:1000px){
    .face {
        background-size: cover;
    }
}
@media(max-width:800px){
    .AboutUs-container{
        height: auto;
    }
    .two-cards{
        flex-direction: column;
        height: auto;
    }

    .Max {
        height: auto;
    }

    .Alex {
        height: auto;
    }

    .info {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        padding: 0px;
    }

    .words {
        margin-bottom: 10px;
    }

    .about {
        width: 100%;
    }


    .Max-face {
        background-position: 65% 0;
    }
}

/* Страница регистрации и входа */

.reg-container{
    display: flex;
    height: 1000px;
}

.reg-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
    margin: 200px auto;
    background-repeat: round;
    background-blend-mode: color-burn;
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
}

.reg-card h2{
    margin-bottom: 20px;
    margin-top: 10px;
}
.reg-card input {
    padding: 8px;
    margin: 5px;
    border-radius: 2px;
    font-size: 18px; /* размер шрифта */
    width: 90%;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    color: black;
    transition: 0.6s;
}



.reg-but{
    margin-top: 20px;
    font-size: 18px; /* размер шрифта */
    font-weight: 600;
    background-color: rgba();
    padding: 10px 20px;
    color: white;
    transition: 0.1s;
}

.reg-card input:focus {
    color: white;
    background-color: rgba(12, 67, 162, 0);
    box-shadow: 0px 0px 20px rgba(12, 67, 162, 0);
}

.reg-but:hover {
    !!!!!!
}

.reg-but:active {
    !!!!!!!!!!!
}

/* Адаптивность */
@media(max-width: 1000px){
    .reg-card {
        width: 85%;
    }
}

@media(max-width: 400px){

    .reg-card input:focus {
        color: white;
        background-color: rgba(255, 72, 90, 0.3);
        box-shadow: 00px 0px 30px rgba(255, 72, 90, 1);
    }

    .reg-card {
        width: 95%;
    }
}

.enter-forget {
    font-size: 15px; /* размер шрифта */
    margin-top: 20px;
    margin-bottom: 10px;
}

.enter-forget a:checked {
    text-decoration: none;
}
.ent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


footer p {
    margin-left: 40px;
}

.authors{
    color: rgb(180, 180, 180);
}
